* {
    padding:0;
    margin:0;
    outline:0;
}
body {
    font-family:Verdana,sans-serif;
    font-size:15px;
    line-height:14px;
    color:#555;
    /*    background-color: #D9EDF7;*/
    background: url("../img/backimg.png")
}

.header_top {
    height: 60px;
    /*background: #D9EDF7;
    background: -moz-linear-gradient(top,#1F70A8 0,#1D6498 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#1F70A8),color-stop(100%,#1D6498));
    background: -webkit-linear-gradient(top,#428BCA 0,#1F70A8 100%);
    background: -o-linear-gradient(top,#1F70A8 0,#1D6498 100%);
    background: -ms-linear-gradient(top,#1F70A8 0,#1D6498 100%);
    background: linear-gradient(top,#1F70A8 0,#1D6498 100%);*/
    background-color:rgba(0,0,0,0.3);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#1F70A8',endColorstr='#1D6498',GradientType=0);
}

.content {
    height: auto !important;
    height: 100%;
    margin: 0 auto -38px;
    min-height: 100%;
}

.top_container {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;

}
.top_container h1{
    font-family: 'Lobster', cursive;
    float: left;
    display: inline;
    padding-top: 12px;

}
.top_container h1 a{
    color: #D9EDF7;
}
h1 {
    line-height: 24px;
    color: #fff;
}

header {
    position: relative;
    display: block;
}

#top-navigation {
    float: right;
    white-space: nowrap;
    color: #fff;
    font-size: 12px;
    padding-top: 20px;
}
#top-navigation a {
    color: #fff;
    font-size: 12px;
}

.header_main {
    width: 96%;
    margin-left: 2%;
    height: 80px;
    background: #fff;
}

ul#nav{
    width:100%;
    height:80px;
    margin:0 auto;
}
ul#nav li{
    display:inline;
    height:80px;
}
ul#nav li h4{
    font-weight:normal;
    font-size: 14px;
    margin-top:-30px;
    margin-left: -10px;
}
ul#nav li a{
    text-decoration : none;
    display:inline-block;
    margin-left: 30px;
    padding:0 20px;
    height:80px;
    line-height:60px;
    color:#555;
    font-family:"\5FAE\8F6F\96C5\9ED1";
    font-size:16px;
}
ul#nav li:first-child a{
    margin-left: 10px;
}

ul#nav li a:hover{
    text-decoration : none;
    color:#0095BB
}/*设置鼠标滑过或悬停时变化的背景颜色*/

ul#nav li a:hover i{
    text-decoration : none;
    color:#0095BB
}/*设置鼠标滑过或悬停时变化的背景颜色*/


ul#nav li i{
    color: #B2B7BA;
}

.header_main ul li.active h4{
    text-decoration : none;
    color:#0095BB
}

ul#nav li.active a i{
    color:#0095BB
}
.set_middle{
    margin-left: 15px;
}
.set_right{
    margin-left: 15px;
}

#tabs {
    overflow: hidden;
    width: 100%;
    margin-top: 10px;
    list-style: none;
}
#tabs li {
    float: left;
    margin: 0 .5em 0 0;
}
#tabs li:first-child{
    margin-left: 0px;
}
#tabs a {
    font-size: 14px;
    position: relative;
    background: #ddd;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
    background-image: -webkit-linear-gradient(top, #fff, #ddd);
    background-image: -moz-linear-gradient(top, #fff, #ddd);
    background-image: -ms-linear-gradient(top, #fff, #ddd);
    background-image: -o-linear-gradient(top, #fff, #ddd);
    background-image: linear-gradient(to bottom, #fff, #ddd);
    padding: .7em 1.5em;
    float: left;
    text-decoration: none;
    color: #444;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
    border-radius: 5px 0 0 0;
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, .4);
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, .4);
    box-shadow: 0 2px 2px rgba(0, 0, 0, .4);
}
#tabs a:hover, #tabs a:hover::after, #tabs a:focus, #tabs a:focus::after {
    background: #fff;
}
#tabs a:focus {
    font-size: 14px;
    outline: 0;
}
#tabs a::after {
    font-size: 14px;
    content:'';
    position:absolute;
    z-index: 1;
    top: 0;
    right: -.5em;
    bottom: 0;
    width: 1em;
    background: #ddd;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
    background-image: -webkit-linear-gradient(top, #fff, #ddd);
    background-image: -moz-linear-gradient(top, #fff, #ddd);
    background-image: -ms-linear-gradient(top, #fff, #ddd);
    background-image: -o-linear-gradient(top, #fff, #ddd);
    background-image: linear-gradient(to bottom, #fff, #ddd);
    -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
    -webkit-transform: skew(10deg);
    -moz-transform: skew(10deg);
    -ms-transform: skew(10deg);
    -o-transform: skew(10deg);
    transform: skew(10deg);
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
    border-radius: 0 5px 0 0;
}
#tabs #current a, #tabs #current a::after {
    font-size: 14px;
    background: #fff;
    z-index: 3;
}
/* ------------------------------------------------- */

#main_content {
    background: #fff;
    padding: 2em;
    height: 420px;
    position: relative;
    z-index: 2;
    -moz-border-radius: 0 5px 5px 5px;
    -webkit-border-radius: 0 5px 5px 5px;
    border-radius: 0 5px 5px 5px;
    -moz-box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, .5);
    box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, .5);
}
#main_content h2, #main_content h3 {
    margin: 0 0 15px 0;
}
/* ------------------------------------------------- */

#about {
    color: #999;
}
#about a {
    color: #eee;
}
.main_wrapper{
    width: 96%;
    margin-left: 2%;
}

footer{
    text-align: center;
    /*    padding-left: 50px;*/
    margin-top: 30px;
    font-size: 12px;
}

.table-content {
    max-width: 100%;
    height: 100%;
}

.indicator-group-title {
    float: left;
    padding: 10px 5px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px dashed #dfdfdf;
    width: 15%;
    height: 392px;
    color: #5a5a5a;
    text-align: left;
}

.indicator-group-title li.active, .indicator-easy-model .indicator-item div.content .indicator-group-title li:hover {
    background-color: #9d426b;
    color: #fff;
    position: relative;
}

.indicator-group-title li span {
    float: right;
    margin-top: 3px;
    display: none;
}

.indicator-group-title li a{
    color: #5a5a5a;
}

.indicator-group-title li.active a {
    text-decoration: none;
    color:#fff;
}

.indicator-group-title li.active span {
    margin-top:0px;
    display: block;
}

.indicator-group-title li{
    cursor: pointer;
    padding: 5px 15px 5px 10px;
    margin-bottom: 1px;
    border-radius: 5px;
    font-size: 15px;
}

.indicator-group-content {

    width: 80%;
    height: 396px;
    padding: 5px 30px 10px 5px;
    border: 1px dashed #dfdfdf;
    overflow-y: auto;
}


.left_title h1{
    color: #444;
    margin-bottom: 5px;
}
.left_title i{
    float: left;
    font-size: 35px;
    margin-top: -6px;
    margin-right: 5px;
}

.left_title a{
    float: right;
    margin-top: -22px;
    font-size: 18px;
    color: #555;
}
.blue{
    color: #3FAEEC;
}
.left_title {
    margin-left: 5px;
    margin-top:4px;
    border-bottom: 2px #9D426B solid;
    padding-bottom: 10px;
}
.left_content{
    margin-left: 40px;
    margin-top: 30px;
    font-size: 20px;
}
.left_content  .left_info p {
    padding-bottom: 45px;
}

.left_info{
    float: left;
}


#scroll,#scroll2,#scroll3{width:50%; height:260px; background-color:white; position:relative;float:right;}
#scroll ul,#scroll2 ul,#scroll3 ul{height:260px; list-style:none;}
#scroll ul li,#scroll2 ul li,#scroll3 ul li{width:50%; max-height:260px;margin:0px; padding:0px; display:none;}
.subl{position:absolute; text-align:left;font-size:30px;font-weight:bold; cursor:pointer;margin-top: 110px;margin-left: 5px;}
.subr{
    position:absolute;
    text-align:right;font-size:30px;font-weight:bold;cursor:pointer;
    margin-top: 110px;
    margin-left: 380px;
}
#scroll ul li img,#scroll2 ul li img,#scroll3 ul li img{
    height: 260px;
    width:400px;
}
.subl:hover{
    font-size: 40px;
    background-color: rgba(0,0,0,0.2);
    margin-top: 105px;
    color: #000;
}
.subr:hover{
    font-size: 40px;
    background-color: rgba(0,0,0,0.2);
    margin-top: 105px;
    color: #000;
}
.operate{
    font-size: 20px;
    float: right;
    margin-top: 5px;
    margin-right: 140px;
}

button, .button {
    border-radius: 4px;
    border-style: solid;
    border-width: 0;
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
    line-height: normal;
    position: relative;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding-top: 0.25em;
    padding-right: 0.75em;
    padding-bottom: 0.25em;
    padding-left: 0.55em;
    font-size: 1em;
    background-color:rgba(0,0,0,0.01);
    border-color: #829606;
    color: #000;
}
.button:hover{
    background-color:rgba(0,0,0,0.05);
}

.button i{
    margin-right: 0.3em;
}

.yes{
    margin-right: 80px;
}

.yes i{
    color: green;
}
.no i{
    color: red;
}
.green{
    color: green;
}
.red{
    color: red;
}
.search{
    float: right;
    margin-top: -37px;
}
.bar input {
    height: 30px;
    width: 250px;
    border-radius: 42px;
    border: 2px solid rgba(0,0,0,0.1);
    background: #fff;
    transition: .3s linear;
    float: right;
    margin-right: 80px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #888;
    font-style: italic;
}
.bar button {
    margin-right: -260px;
    margin-top: 3px;
    float: right;
    background: none;
    right: 0;
    border: none;
}
.bar button::before {
    font-size: 16px;
    content: "\f002";
    font-family: FontAwesome;
    color: #4B9DD6;
}


.bar input{
    padding-left: 10px;
}